
table, td, th{
  border:2px solid white;
}

table.rankList {
  border-collapse:collapse;
  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
  width:90%;
  text-align:center;
  border:1px solid green;
}

th.th_style {
  text-align:center;
  font-size:1em;
  padding:3px 7px 2px 7px;
  height:50px;
}

td.question {
  width:65px;
  height:50px;
  color:#000000;
  background-color:#ffffff;
}
td.info {
  width:65px;
  height:50px;
  background-color:#ccddff;
}
td.fb {
  width:65px;
  height:50px;
  background-color:#008800;
}
td.nofb {
  width:65px;
  height:50px;
  background-color:#a9f5af;
}

td.noac{
  width:65px;
  height:50px;
  background-color:#ffdddd;
}

