{% extends 'contestms/base.html' %}

{% block listActive %}{% endblock %}
{% block aboutActive %}class="active"{% endblock %}


{% block content %}

<div class="container">
  <h2>关于ACM/ICPC</h2>
  <p>ACM国际大学生程序设计竞赛（英语：ACM International Collegiate Programming Contest, ICPC）是由美國電腦協會（ACM）主办的，一项旨在展示大学生创新能力、团队精神和在压力下编写程序、分析和解决问题能力的年度竞赛。
    经过30多年的发展，ACM国际大学生程序设计竞赛已经发展成为最具影响力的大学生计算机竞赛。赛事目前由IBM公司赞助。</p>
  <h3>简要规则</h3>
  <p>ACM-ICPC以团队的形式代表各学校参赛，每队由3名队员组成。

      比赛期间，每队使用1台电脑需要在5个小时内使用C、C++或Java中的一种编写程序解决7到10个问题。程序完成之后提交裁判运行，运行的结果会判定为"AC(正确)/WA（错误）/TLE（超时）/MLE（超出内存限制）/RE（运行错误）/PE（格式错误）"中的一种并及时通知参赛队。每队在正确完成一题后，组织者将在其位置上升起一只代表该题颜色的气球。

      最后的获胜者为正确解答题目最多且总用时最少的队伍。每道试题用时将从竞赛开始到试题解答被判定为正确为止，其间每一次提交运行结果被判错误的话将被加罚20分钟时间，未正确解答的试题不记时。例如：A、B两队都正确完成两道题目，其中A队提交这两题的时间分别是比赛开始后1:00和2:45，B队为1:20和2:00，但B队有一题提交了2次。这样A队的总用时为1:00+2:45=3:45而B队为1:20+2:00+0:20=3:40，所以B队以总用时少而获胜。

      与其它计算机程序竞赛（例如国际信息学奥林匹克，IOI）相比，ACM-ICPC的特点在于其为3人团队作战且题量大，每队需要5小时内完成8道题目，甚至更多。除此之外，一支队伍有3名队员却只有1台电脑，使得时间显得更为紧张。因此除了扎实的编程能力，良好的团队协作和心理素质同样是获胜的关键。
  </p>

</div>


{% endblock %}