{% extends 'contestms/contest_detail_base.html' %}
{% block list_active %}class="active"{% endblock %}

{% block contest_content %}
<table class="table table-hover" style="border:1px solid silver;magin-top:50px;">
  <thead>
  <tr class="success">
    <td></td>
    <td>题目编号</td>
    <td>标题</td>
  </tr>
  </thead>
  {% for question, a in questions_info.items %}
  <tr>
    <td></td>
    <td><a href="{% url 'contestms:question_detail' question.id %}">{{ a }}</a> </td>
    <td><a href="{% url 'contestms:question_detail' question.id %}">{{question.title}}</a></td>
  </tr>
  {% endfor %}
</table>
{% endblock %}