{% extends 'contestms/contest_detail_base.html' %}
{% block rank_active %}class="active"{% endblock %}

{% block contest_content %}
{% load staticfiles %}
<!--<link href="{% static 'contestms/css/base.css' %}" rel="stylesheet">-->
<table class="table table-hover" style="border:1px solid silver;magin-top:50px;">
  <thead>
  <tr class="success">
    <th style="text-align:center; vertical-align:center;">Rank</th>
    <th style="text-align:center; vertical-align:center;">Name</th>
    <th style="text-align:center; vertical-align:center;">Solved</th>
    <th style="text-align:center; vertical-align:center;">Penalty</th>
    {% for i in q_alpha %}
    <th style="text-align:center; vertical-align:center;">{{ i }}</th>
    {% endfor %}
  </tr>
  </thead>
  <tbody valign="middle">
  {% for contestant in list_info %}
  <tr style="text-align:center; height:50px;">
    <td style="width: 68px; background-color:#ccddff;">{{ forloop.counter }}</td>
    <td style="width: 68px; background-color:#ccddff;">{{ contestant.name }}</td>
    <td style="width: 68px; background-color:#ccddff;">{{ contestant.ac_num }}</td>
    <td style="width: 68px; background-color:#ccddff;">{{ contestant.penalty }}</td>

    {% for question in contestant.questions %}

      {% if question.sub_times == 0 %}
        <td style="width: 68px; "></td>
      {% endif %}

      {% if question.accepted is False and question.sub_times is not 0 %}
        <td style="width: 68px; background-color:#ffdddd; ">&nbsp;&nbsp;&nbsp;(-{{question.wrong_times }})&nbsp;&nbsp;</td>
      {% endif %}

      {% if question.accepted is True and question.wrong_times is 0 and question.is_fb is False %}
        <td style="width: 68px; background-color:#a9f5af;">{{question.ac_time|date:" H:i:s"}}</td>
      {% endif %}

      {% if question.accepted and question.wrong_times != 0 and question.is_fb == False %}
        <td style="width: 68px; background-color:#a9f5af;">{{question.ac_time|date:" H:i:s"}}<br>(-{{question.wrong_times }})</td>
      {% endif %}

      {% if question.is_fb is True and question.wrong_times is 0 %}
        <td  style="width: 68px; background-color:#008800;">{{question.ac_time|date:" H:i:s"}}</td>
      {% endif %}

      {% if question.is_fb == True and question.wrong_times != 0 %}
        <td style="width: 68px; background-color:#008800;">{{question.ac_time|date:" H:i:s"}}<br>(-{{question.wrong_times }})</td>
      {% endif %}

    {% endfor %}
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}