{% extends 'contestms/base.html' %}

{% block content %}

    <style>
     pre {
            font-size:18px;
            white-space: pre-wrap;
            word-wrap: break-word;
        }
       </style>

    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ used_time }}%;">
        <span class="sr-only">60% Complete</span>
      </div>
    </div>


    {% autoescape off %}
    <div class="well" style="background-color:white">

        <h1><center>{{question.title}}</center></h1>
        <h3>描述</h3>

        <p class="lead"><pre>{{question.content}}</pre>


        {% for example in examples %}
        <h3>样例{{ forloop.counter }}</h3>
        <pre>
        <p>输入:<p>{{ example.input }}
        <p>输出:<p>{{ example.output }}
        </pre>
        {% endfor %}

        {% if question.hint %}
        <h3>提示</h3>
        <pre>{{ question.hint }}</pre>
        {% endif %}
      </div>
    {% endautoescape %}
{% endblock %}