{% extends 'contestms/contest_detail_base.html' %}

{% block contest_content %}

    <style>
     pre {
            font-size:18px;
            white-space: pre-wrap;
            word-wrap: break-word;
        }
     </style>

    {% autoescape off %}
    <div class="well" style="background-color:white">

        <h1><center>{{alpha_id}}.{{question.title}}</center></h1>
        <h3>描述</h3>

        <p class="lead"><pre>{{question.content}}</pre>


        {% for example in examples %}
        <h3>样例{{ forloop.counter }}</h3>
        <pre>
        <p>输入:</p>{{ example.input }}
        <p>输出:</p>{{ example.output }}
        </pre>
        {% endfor %}

        {% if question.hint %}
        <h3>提示</h3>
        <pre>{{ question.hint }}</pre>
        {% endif %}
      </div>
    {% endautoescape %}
{% endblock %}