<!DOCTYPE html>


<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <meta name="description" content="">
    <meta name="author" content="pash">
    {% load staticfiles %}
    <script src="{% static 'libs/bootstrap/js/jquery.min.js' %}"></script>
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
    <link href="{% static 'accounts/css/signin.css' %}" rel="stylesheet">
    {% block extra_head %}{% endblock %}
</head>
<body>

  <div class="login">
    <div class="well">
    {% if password_is_wrong %}
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>提示!</strong> 用户名或密码错误!
    </div>
    {% endif %}

    {% if message %}
      <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>提示!</strong> {{ message }}
    </div>
    {% endif %}

      <div class="login_logo">
       <img src="{% static 'accounts/images/logo.png' %}">
      </div>
        <form class="form-horizontal" action="" method="post" >
        {% csrf_token %}
        {% bootstrap_form login_form %}

          <div class="button_layout">
        {% buttons %}
            <button type="submit" class="btn btn-primary">
              {% bootstrap_icon "glyphicon glyphicon-user" %} &nbsp;登&nbsp;&nbsp;录&nbsp;
            </button>
            <button type="button" class="btn btn-danger"
                onclick='javascrtpt:window.location.href="#"'>
              {% bootstrap_icon "glyphicon glyphicon-info-sign" %} &nbsp;忘记密码&nbsp;
            </button>
            <button type="button" class="btn btn-success"
                onclick='javascrtpt:window.location.href="{% url 'accounts:register' %}"' >
              {% bootstrap_icon "glyphicon glyphicon-plus" %} &nbsp;注&nbsp;&nbsp;册&nbsp;
            </button>
        {% endbuttons %}
          </div>
        </form>
      </div>
  </div>
</body>
</html>
