<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>


<body>

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

  {% if register_fail %}
<div class="alert alert-danger alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  注册信息有误!
</div>
{% endif %}


<div class="register_style">
      <div class="container">
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
            <div class="well">
              <h1>请准确填写注册信息</h1>
              <form action="" method="post" class="form">
               {% csrf_token %}
                {% bootstrap_form register_form %}
                {% buttons %}
               <button type="submit" class="btn btn-primary" >
                    {% bootstrap_icon "glyphicon glyphicon-user" %} 注册
               </button>

                <button type="button" class="btn btn-success"
                        onclick='javascrtpt:window.location.href="{% url 'accounts:login' %}"' >
                  {% bootstrap_icon "glyphicon glyphicon-chevron-left" %} 返回登录
                </button>
                {% endbuttons %}
             </form>
            </div>
            </div>
            <div class="col-md-2"></div>
            </div>
    </div>
  </div>



</body>
</html>
