<!DOCTYPE html>
<html lang="zh-CN" xmlns:accounts="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

  {% if register_fail %}
      <div class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          注册信息有误!
      </div>
  {% endif %}

  <div class="container">
    <div class="well">
    <h1>请准确填写注册信息</h1>
     <form action="" method="post" class="form">
       {% csrf_token %}
        {% bootstrap_form register_form %}
        {% buttons %}
          <button type="submit" class="btn btn-primary" >
            {% bootstrap_icon "star" %} 注册
          </button>
          <button type="submit" class="btn btn-primary" >
            {% bootstrap_icon "star" %} 返回登录
          </button>
        {% endbuttons %}
      </form>
    </div>
  </div>
</body>
</html>