        .login {
          margin: 50px auto;
          width: 500px;
          padding: 20px;


        }

        .login .login_logo {margin-bottom: 20px; height: 45px; text-align: center;}
        .login .login_logo img {height: 45px;}

        .login .button_layout {
            margin-top:28px;
            text-align: center;
        }
        .input_style{
           width:400px;
           margin-bottom: -10px;
           margin-left: 18px;
           border-bottom-right-radius: 0;
           border-bottom-left-radius: 0;
        }
        .control-label{
          margin-left: 18px;
        }
